<div> 

<h2>Title: {{theMovie.title}}</h2>
<h4>Director: {{theMovie.director}}</h4>
<p>Rating: {{theMovie.stars}}</p>
<p>Description: {{theMovie.description}}</p>
<p>Showtimes: {{theMovie.showtimes}}</p>
<img style="width:400px" src="{{theMovie.image}}">


</div>